@model IList<Kisi>
    <h1>Index Sayfası</h1>

<table>
    <thead>
        <tr>
            <th>Adi</th>
            <th>Soyadi</th>
            <th>Gsm</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Ad</td>
                <td>@item.Soyad</td>
                <td>@item.Gsm</td>
            </tr>
        }
    </tbody>
</table>
    